@import "tailwindcss";
.progress-bar {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(30, 30, 30, 0.8);
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}
.avatar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #00ff88; /* Зеленая обводка */
    cursor: pointer;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Блок прогресса */
.user-progress-container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(30, 30, 40, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.progress-level {
    font-size: 14px;
    color: #fff;
}

.progress-title {
    font-size: 24px;
    font-weight: bold;
    color: #00ff00; /* Зеленый цвет уровня */
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
}
